@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc

@{ var i = 0; }

<div class="checkboxlist" id="@Model.Id">
    @foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)
    {
        <div class="row collapse">
            <div class="column small-1 text-center">
                <input type="checkbox"
                       class="@Html.GetFormFieldClass(Model.FieldTypeName)"
                       name="@Model.Name" id="@string.Concat(Model.Id,"_",i)" value="@pv.Id"
                       @if (Model.Mandatory) { <text> data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage" </text> }
                       @if (Model.ContainsValue(pv.Id)) { <text> checked="checked" </text> } />
            </div>
            <div class="column small-11">
                <label for="@string.Concat(Model.Id,"_",i)">@pv.Value</label>
            </div>
        </div>

        i++;
    }
</div>