@model MainNavigationViewModel
@if(Model.Items == null || Model.Items.Any() == false)
{
    return;
}

<nav class="top-bar nav @Html.If(Model.HasPageHero == false, "no-page-hero")" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
    <div class="container mobileNavContainer">
        <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu data-click-open data-alignment="left">
            @foreach (var navigationItem in Model.Items)
            {
                <li class="@Html.If(navigationItem.IsActive, "active") @Html.If(navigationItem.HasChildren, "is-dropdown-submenu-parent")">@RenderHyperlink(navigationItem)@RenderSubMenu(navigationItem)</li>
            }
        </ul>
    </div>
</nav>
@helper RenderSubMenu(MainNavigationItemViewModel navigationItem)
{
    if (navigationItem.HasChildren)
    {
        <ul class="vertical menu nested">
            @foreach (var item in navigationItem.Children)
            {
                <li class="">@RenderHyperlink(item)</li>
            }
        </ul>
    }
}
@helper RenderHyperlink(NavigationItemViewModel navigationItem)
{
    <a href="@navigationItem.Url" target="@navigationItem.Target" accesskey="@navigationItem.AccessKey">@navigationItem.Text</a>
}
