@model MainNavigationViewModel
<nav class="top-bar nav @Html.If(Model.HasPageHero == false, "no-page-hero")" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
    <div class="container">
        <ul class="vertical medium-horizontal menu">
            @foreach (var navigationItem in Model.Items)
            {
                if (navigationItem.IsActive)
                {
                    <li class="active">@RenderHyperlink(navigationItem)</li>
                }
                else
                {
                    <li>@RenderHyperlink(navigationItem)</li>
                }
            }
        </ul>
    </div>
</nav>
@helper RenderHyperlink(NavigationItemViewModel navigationItem)
{
    <a href="@navigationItem.Url" target="@navigationItem.Target" accesskey="@navigationItem.AccessKey">@navigationItem.Text</a>
}