@model SidebarViewModel
<aside id="sidebar">
    @if (Model.GetInTouchButton != null)
    {
        <a href="@Model.GetInTouchButton.Url" class="button primary large medium-expanded" target="@Model.GetInTouchButton.Target">Get in touch</a>
    }
    @if (Model.InThisSectionLinks != null && Model.InThisSectionLinks.Any())
    {
        <nav class="holder" aria-label="aside-navigation">
            <h2>In this section</h2>
            <ul class="aside-nav no-bullet">
                @foreach (var link in Model.InThisSectionLinks)
                {
                    <li><a href="@link.Url">@link.Text</a></li>
                }
            </ul>
        </nav>
    }
    @if (Model.SeeAlsoLinks != null && Model.SeeAlsoLinks.Any())
    {
        <nav class="holder" aria-label="aside-navigation">
            <h2>See also</h2>
            <ul class="aside-nav no-bullet">
                @foreach (var link in Model.SeeAlsoLinks)
                {
                    <li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
                }
            </ul>
        </nav>
    }
</aside>