@model HomePageViewModel
<section class="widget-section">
    <img src="images/logo-decor.png" alt="decoration" class="decor">
    <div class="container">
        <div class="row">
            @if (Model.LatestNews.Any())
            {
                <div class="columns small-12 large-8">
                    <h2>Latest News</h2>
                    <div class="news-holder">
                        @foreach (var newsItem in Model.LatestNews)
                        {
                            <article class="card">
                                <div class="img-holder img-for-print">
                                    <img src="@newsItem.ImageUrl" alt="@newsItem.Title thumbnail">
                                </div>
                                <div class="card-section">
                                    <h3>@newsItem.Title</h3>
                                    <ul class="footer-list no-bullet">
                                        @*<li>by <a href="#" class="author">Nick</a></li>*@
                                        <li>@Html.DisplayFor(model => newsItem.PublishDate)</li>
                                        @*<li>Uncategorized</li>*@
                                    </ul>
                                    @newsItem.Description
                                    <a href="@newsItem.Url" class="button expanded">Read More</a>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            }
            @if (Model.SocialFeed != null && Model.SocialFeed.HasTwitterFeedUrl)
            {
                <div class="columns small-12 large-4 twitter-print-hide">
                    <h2>Twitter</h2>
                    <div class="twitter-widget">
                        <article class="card full-border">
                            <div class="card-section">
                                <a class="twitter-timeline" href="@Model.SocialFeed.TwitterFeedUrl?ref_src=twsrc%5Etfw" data-chrome="noheader nofooter noborders" data-tweet-limit="@Model.SocialFeed.NumberOfTweets">Tweets by JNCC_UK</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </article>
                    </div>
                </div>
            }
        </div>
    </div>
</section>