@model JNCC.PublicWebsite.Core.Models.ResetPasswordModel
@using (Html.BeginUmbracoForm<ResetPasswordFormSurfaceController>("PerformResetPassword"))
{
    @Html.FoundationValidationSummary()
    <div class="form-field">
        <label for="@Html.NameFor(model => model.NewPassword)">
            New Password
            @Html.PasswordFor(model => model.NewPassword)
        </label>
    </div>
    <div class="form-field">
        <label for="@Html.NameFor(model => model.ConfirmNewPassword)">
            Confirm New Password
            @Html.PasswordFor(model => model.ConfirmNewPassword)
        </label>
    </div>
    <div class="form-field">
        <input type="submit" value="Reset Password" class="button primary">
    </div>
    @Html.AntiForgeryToken()
}