@model ArticlePageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                <p>@Html.DisplayFor(model => Model.PublishDate)</p>
                <p>
                    <a href="@Model.LandingPageUrl?articleTypes=@Model.ArticleType"><span class="label location">@Model.ArticleType</span></a>
                    <a href="@Model.LandingPageUrl?years=@Model.PublishDate.Year"><span class="label location">@Model.PublishDate.Year</span></a>
                    @foreach (var tag in Model.Teams)
                    {<a href="@Model.LandingPageUrl?teams=@tag"><span class="label location">@tag</span></a>}
                </p>
                @Model.MainContent
            </div>
            @(Html.Action<SidebarSurfaceController>("RenderArticlePageSidebar"))
        </div>
    </div>
    @(Html.Action<RelatedItemsSurfaceController>("RenderRelatedItems"))
</main>