@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BizDevServicePage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
@(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
<div class="container">
    @Html.Partial("~/Views/Partials/Breadcrumbs.cshtml")
    <div class="two-columns">
        <div id="content">
            @Model.Content.Preamble
            <ul class="articles-list no-bullet">
                @foreach (var item in Model.Content.MainContent)
                {
                    <li>
                        @Html.DisplayFor(model => item)
                    </li>
                }
            </ul>
        </div>
        @(Html.Action<SidebarSurfaceController>("RenderSidebar"))
    </div>
</div>
@if (Model.Content.GetInTouchContent != null && string.IsNullOrWhiteSpace(Model.Content.GetInTouchContent.ToHtmlString()) == false)
{
    <div class="info-section">
        <div class="container">
            @Model.Content.GetInTouchContent
            @if (Model.Content.GetInTouchButton != null)
            {
                <a href="@Model.Content.GetInTouchButton.Url" class="button primary" target="@Model.Content.GetInTouchButton.Target">Get in touch</a>
            }
        </div>
    </div>
}
<section class="links-section">
    <div class="container">
        <h2>Related links</h2>
        <div class="row">
            <div class="columns small-12 medium-4">
                <a href="#" class="card">
                    <span class="img-holder" style="background-image: url(/images/img-4.jpg);"></span>
                    <span class="card-section"><strong>Case study</strong> : Huge cost reduction on use of satelite data</span>
                </a>
            </div>
            <div class="columns small-12 medium-4">
                <a href="#" class="card">
                    <span class="img-holder" style="background-image: url(/images/img-3.jpg);"></span>
                    <span class="card-section">Protected areas within Great Britain now available.</span>
                </a>
            </div>
            <div class="columns small-12 medium-4">
                <a href="#" class="card">
                    <span class="img-holder" style="background-image: url(/images/img-2.jpg);"></span>
                    <span class="card-section">A partnership working in South Africa</span>
                </a>
            </div>
        </div>
    </div>
</section>