@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InternalTextPage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
@{
    Layout = "Master.cshtml";
}
@(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
<div class="container">
    @Html.Partial("~/Views/Partials/Breadcrumbs.cshtml")
    <div class="two-columns">
        <div id="content">
            @Model.Content.MainContent
        </div>
        @(Html.Action<SidebarSurfaceController>("RenderSidebar"))
    </div>
</div>
@(Html.Action<RelatedItemsSurfaceController>("RenderRelatedItems"))