@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InternalTextPage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                @Model.Content.MainContent
            </div>
            @(Html.Action<SidebarSurfaceController>("RenderSidebar"))
        </div>
    </div>
    @(Html.Action<RelatedItemsSurfaceController>("RenderRelatedItems"))
</main>