@{
    Layout = null;
}
<!doctype html>
<html @(Html.Action<PageAttributesSurfaceController>("RenderAttributes"))>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @(Html.Action<SeoMetaDataSurfaceController>("RenderSeoMetaData"))
    <link rel="stylesheet" href="~/css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js" defer><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" defer></script>
    @(Html.Action<CookieBannerTemplateSurfaceController>("RenderCookieBannerTemplate"))
    <script src="~/js/app.js" defer></script>
</head>
<body>
    <noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    <div id="wrapper" class="js-cookie-banner-container">
        <a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
        <header id="header">
            <div class="container">
                <strong class="logo">
                    <a href="/" accesskey="1"><img src="~/images/logo.png" alt="JNCC"></a>
                </strong>
                @(Html.Action<HeaderSurfaceController>("RenderSearch"))
                <div class="show-for-small-only">
                    <div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
                        <button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
                    </div>
                    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                        <button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
                    </div>
                </div>
            </div>
            @(Html.Action<HeaderSurfaceController>("RenderMainNavigation"))
        </header>
        <main id="main">
            @RenderBody()
        </main>
        <footer id="footer" class="text-center medium-text-left">
            <div class="container">
                @(Html.Action<FooterSurfaceController>("RenderCategorisedLinks"))
                @(Html.Action<FooterSurfaceController>("RenderSocialMediaLinks"))
            </div>
            <div class="footer-bottom">
                <div class="container">
                    @(Html.Action<FooterSurfaceController>("RenderContent"))
                    @(Html.Action<FooterSurfaceController>("RenderUncategorisedLinks"))
                </div>
            </div>
        </footer>
    </div>
    <a class="accessibility" href="#wrapper">Back to top</a>
</body>
</html>