@model ScienceDetailsPageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                @Model.Preamble
                @if (Model.HasSections)
                {
                    <div class="row">
                        <div class="columns small-12 medium-6 callout toc">
                            <h4 id="toc">Contents</h4>
                            <ol>
                                @foreach (var section in Model.Sections)
                                {
                                    <li><a href="#@(section.HtmlId)">@(section.Headline)</a></li>
                                }
                            </ol>
                        </div>
                    </div>
                    foreach (var section in Model.Sections)
                    {
                        <h2 id="@(section.HtmlId)">@(section.Headline)</h2>
                        @Html.DisplayFor(model => section)
                        <p class="text-right"><a href="#toc">Top <i class="step fi-arrow-up"></i></a></p>
                    }
                }
                <div id="meta" class="callout secondary">
                    <div class="row collapse">
                        <div class="column small-12 medium-6">
                            <p><span data-tooltip tabindex="1" title="The date this page was first published">Published</span>: @Html.DisplayFor(model => model.PublishedDate). </p>
                        </div>
                        @if (Model.ReviewedDate.HasValue)
                        {
                            <div class="column small-12 medium-6">
                                <p><span data-tooltip tabindex="2" title="The date the content last had a meaningful editorial review">Reviewed</span>: @Html.DisplayFor(model => model.ReviewedDate.Value).</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @(Html.Action<RelatedItemsSurfaceController>("RenderRelatedItems"))
</main>