@model ScienceCategoryPageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                @Model.Preamble
                @(Html.Action<PageMetaInformationSurfaceController>("RenderPageMetaInformation"))
                @if (Model.HasCategorisedPages)
                {
                    <h2>Pages in @Model.Headline</h2>
                    <div class="row small-collapse small-up-1 medium-up-2">
                        @foreach (var kvp in Model.CategorisedPages)
                        {
                            <div class="column">
                                <h3>@kvp.Key</h3>
                                <ul>
                                    @foreach (var page in kvp.Value)
                                    {
                                        <li><a href="@page.Url">@page.Text</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
                @if (Model.HasRelatedCategories)
                {
                    <h2>Related Categories</h2>
                    <div class="row small-collapse small-up-1 medium-up-2">
                        @foreach (var kvp in Model.RelatedCategories)
                        {
                            <div class="column">
                                <h3>@kvp.Key</h3>
                                <ul>
                                    @foreach (var page in kvp.Value)
                                    {
                                        <li><a href="@page.Url">@page.Text</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
            @(Html.Action<ScienceSidebarSurfaceController>("RenderScienceCategoryPageSidebar"))
        </div>
    </div>
    @(Html.Action<GetInTouchSurfaceController>("RenderGetInTouch"))
    @(Html.Action<RelatedItemsSurfaceController>("RenderRelatedItems"))
</main>