@model ScienceLandingPageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main" class="science-landing">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
    </div>
    @Html.Partial("~/Views/Partials/ScienceLanding/FeaturedQuote.cshtml")
    @Html.Partial("~/Views/Partials/CalloutCards.cshtml")
    @Html.Partial("~/Views/Partials/ScienceLanding/LatestUpdates.cshtml")
    @Html.Partial("~/Views/Partials/ScienceLanding/ResourcesCollections.cshtml")
    @Html.Partial("~/Views/Partials/LatestNewsAndSocialFeed.cshtml")
</main>