@model SearchViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                <div class="resultsSearchBar">
                    <form action="/search" role="search" method="GET" class="top-bar search-form input-group" id="search-page-form" data-animate="hinge-in-from-top spin-out">
                        <input type="text" name="q" class="input-group-field" id="search-page-form-field" placeholder="Search" value="@Html.If(string.IsNullOrWhiteSpace(Model.SearchTerm) == false, Model.SearchTerm)" aria-label="Search" />
                        <button class="input-group-button" aria-label="search-button">Search</button>
                    </form>
                </div>
                @if (string.IsNullOrWhiteSpace(Model.SearchTerm) == false)
                {
                    <h2>Search results</h2>
                    <p>@Model.TotalResults results for '@Model.SearchTerm'</p>
                    if (Model.TotalResults != 0)
                    {
                        foreach (var result in Model.PagedResults)
                        {
                            <h3><a href="@result.Url">@result.Title</a></h3>
                            <p>Published: @result.PublishDate @if (string.IsNullOrWhiteSpace(result.FileExtension) == false) {<text>| File Extension: </text>@result.FileExtension}</p>
                            <p class="resultContent">@result.Content</p>
                            <hr />
                        }

                        <div class="filtration-buttons-holder">
                            @if (Model.CurrentPage > 1)
                            {
                                <a class="button prev" href="?q=@(Model.SearchTerm)&p=@(Model.CurrentPage - 1)">Previous</a>
                            }

                            @*@for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    if (i == Model.CurrentPage)
                                    {
                                        <span class="page">@i</span>
                                    }
                                    else
                                    {
                                        <a class="page" href="?q=@(Model.SearchTerm)&p=@(i)">@i</a>
                                    }
                                }*@

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <a class="button next" href="?q=@(Model.SearchTerm)&p=@(Model.CurrentPage + 1)">Next</a>
                            }
                        </div>
                    }
                    else
                    {
                        <p>Sorry, no results were found</p>
                    }
                }
            </div>
        </div>
    </div>
</main>
