@model SearchViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        <div class="two-columns">
            <div id="content">
                <h1>Search results</h1>
                <p>@Model.TotalResults results for '@Model.SearchTerm'</p>
                @if (Model.TotalResults != 0)
                {
                    foreach (var result in Model.PagedResults)
                    {
                        <h2>@result.Title</h2>
                        <p>Type: @result.DataType</p>
                        <p>Source: @result.Site</p>
                        <p>@result.Content</p>
                        <p>Published at: @result.PublishDate</p>
                        <a href="@result.Url">Read more</a>
                        <hr />
                    }

                    <div class="pager">
                        <p>
                            @if (Model.CurrentPage > 1)
                            {
                                <a class="prev" href="?q=@(Model.SearchTerm)&p=@(Model.CurrentPage-1)">Previous</a>
                            }
                            else
                            {
                                <span class="prev">Previous</span>
                            }

                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <span class="page">@i</span>
                                }
                                else
                                {
                                    <a class="page" href="?q=@(Model.SearchTerm)&p=@(i)">@i</a>
                                }
                            }

                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <a class="next" href="?q=@(Model.SearchTerm)&p=@(Model.CurrentPage + 1)">Next</a>
                            }
                            else
                            {
                                <span class="next">Next</span>
                            }
                        </p>
                    </div>
                }
                else
                {
                    <p>Sorry, no results were found</p>
                }

            </div>
        </div>
    </div>
</main>
