@model PagedResult<StaffDirectoryProfileViewModel>
<div class="filtration-section">
    <div class="filtration-items-holder">
        <div class="row">
            @foreach (var profile in Model.Items)
            {
                <div class="columns medium-6 large-4">
                    <a href="@profile.Url" class="card">
                        <div class="img-holder">
                            <img src="@profile.ImageUrl" alt="@profile.Name photo">
                        </div>
                        <div class="card-section">
                            <h3>@profile.Name</h3>
                            <span class="subtitle">@profile.JobTitle</span>
                            <div class="text">
                                @profile.Description
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="filtration-buttons-holder">
        @if (Model.IsPageNumberGreaterThanFirst())
        {
            <a href="?pageNumber=@Model.PreviousPageNumber()" class="button prev">Previous</a>
        }
        @if (Model.IsPageNumberLessThanLast())
        {
            <a href="?pageNumber=@Model.NextPageNumber()" class="button next">Next</a>
        }
    </div>
</div>