@model IEnumerable<BlogCommentViewModel>
<!-- comments -->
<div class="comment-section-container">
    <h2>Comments (@Model.Count())</h2>
    @foreach (var comment in Model)
    {
        <div class="comment" id="@comment.Id">
            <div class="comment-author">
                <div class="comment-name">
                    <h3>@comment.Name</h3>
                    <p><a href="#@comment.Id">@Html.DisplayFor(model => comment.Created)</a></p>
                </div>
            </div>
            <div class="comment-section-text">
                <p>
                    @Html.Raw(comment.Comment)
                </p>
            </div>
        </div>
    }
</div>