@using Articulate
@using Umbraco.Core
@using JNCC.PublicWebsite.Core.Controllers.SurfaceControllers
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";

    var blogHasCommentsEnabled = Model.RootBlogNode.GetPropertyValue<bool>("enableComments");
}
@(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
<p>@Html.DisplayFor(model => Model.PublishedDate)</p>
<p>By @if (!Model.Author.BlogUrl.IsNullOrWhiteSpace()) {<a href="@Model.Author.BlogUrl">@Model.Author.Name</a>} else {@Model.Author.Name}</p>
@Html.ThemedPartial(Model, "PostTags")
@Model.Body
<section class="share">
    <p class="info prompt">Share this post</p>
    <ul class="footer-bottom-list no-bullet">
        <li>
            <a href="http://twitter.com/share?text=@Model.Name&url=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="icon-twitter"></i> <span class="show-for-sr">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="icon-facebook"></i> <span class="show-for-sr">Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="icon-google-plus"></i> <span class="show-for-sr">Google+</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.UrlWithDomain()"
               onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
                <i class="icon-linkedin"></i> <span class="show-for-sr">LinkedIn</span>
            </a>
        </li>
    </ul>
</section>
@if (blogHasCommentsEnabled && Model.EnableComments)
{
    @Html.ThemedPartial(Model, "CommentsUmbracoForms")
}