@using Articulate
@using Umbraco.Core
@using JNCC.PublicWebsite.Core.Controllers.SurfaceControllers
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
}
@(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
<p>@Html.DisplayFor(model => Model.PublishedDate)</p>
<p>By @if (!Model.Author.BlogUrl.IsNullOrWhiteSpace()) {<a href="@Model.Author.BlogUrl">@Model.Author.Name</a>} else {@Model.Author.Name}</p>
@Html.ThemedPartial(Model, "PostTags")
@Model.Body
@if (Model.EnableComments)
{
    @Html.ThemedPartial(Model, "CommentsUmbracoForms")
}